<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleAll.css">
    <link rel="stylesheet" href="index.css">
    <title>Bem-Vindo!</title>
</head>
<body>
    <div class="all">
        <header>
            <h1><img src="mv-logo1.png" alt="mv-logo"></h1>
            <h1>Olá, seja bem-vindo(a)</h1>
        </header>
        <main>
            <h2>
                A fim de organizar nossa mesa de café da manhã, segue uma pequena aplicação para que possa ser feito o registro individual das escolhas de cada
                colaborador para a mesa do café da manhã. Temos um cardápio limitado, mas você escolher mais de um item, caso queira, o seu bolso é seu limite.
                Lembrando que, para cada escolha, um item será descontado da lista e não mais estará disponível para seleção. Ajude o estagiário, escolha todos
                antes da vez dele, ele já ganha pouco mesmo. =D
            </h2>
        </main>
        <section>
            <p><a href="/listar"><img src="checkList.png" alt="checklist"></a></p>
            <p><a href="/cadastrar"><img src="cadastrar.jpg" alt="cadastrar"></a></p>
        </section>
    </div>
</body>
</html>