<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleAll.css">
    <link rel="stylesheet" href="listar.css">
    <title>Bem-Vindo!</title>
</head>
<body>
    <div class="all">
        <header>
            <h1>Lista detalhada das escolhas</h1>
            <h2>Segue a lista de cada colaborador e sua parte no café da manhã</h2>
        </header>
        <main>
            
            <table>
                <thead>
                    <tr>
                        <th>ID</th><th>Nome do Colaborador</th><th>CPF</th><th>Comida Escolhida</th><th>EDITAR</th><th>EXCLUIR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${cadastro.empty}">
                        <td>vazio</td><td>vazio</td><td>vazio</td><td>vazio</td><td>vazio</td><td>vazio</td>
                    </tr>
                    <tr th:each="cad : ${cadastro}">
                        <td th:text="${cad.id}"></td><td th:text="${cad.nome}"></td><td th:text="${cad.cpf}"></td><td th:text="${cad.comida.descricao}"></td>
                        <td>
                            <form th:action="@{/editar/details?id={id}(id=${cad.id})}" method="POST">
                                <button type="submit"><img class="editar" src="editar-video.png" alt="edit"></button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/deletar/details?id={id}(id=${cad.id})}" method="post">
                                <button type="submit"><img class="deletar" src="deletar-conta.png" alt="del"></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <section>
            <p><a href="/cadastrar"><img src="cadastrar.jpg" alt="cadastrar" width="175px" height="75px"></a></p>
        </section>
    </div>
</body>
</html>